.camera {
  max-width: 90vw;
  margin-top: 5%;

  .cameraViewport {
    position: relative;

    .isbnHolder {
      position: absolute;
      top: 10%;
      left: 33%;
      width: 33%;
      min-height: 30px;
      height: 10%;
      border-color: red;
      border-width: 3px;
      border-style: solid;
    }

    .videoHolder {
      min-width: 300px;
      max-width: 90%;

      background-color: rgb(103, 103, 202);
    }

    .takeISBN {
      position: absolute;
      z-index: 3;
      color: red;
      background-color: white;
      border-radius: 10px;
      top: 70%;
      left: 33%;
    }
  }
}
